pkgbase = python-requests-futures
	pkgdesc = Asynchronous Python HTTP Requests for Humans
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/ross/requests-futures
	arch = any
	license = APACHE
	makedepends = python-setuptools
	depends = python-requests
	source = https://files.pythonhosted.org/packages/source/r/requests-futures/requests-futures-1.0.0.tar.gz
	sha256sums = 35547502bf1958044716a03a2f47092a89efe8f9789ab0c4c528d9c9c30bc148

pkgname = python-requests-futures

