[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=mongodb
Environment="LD_LIBRARY_PATH=/usr/lib/libcurl-openssl-1.0"
ExecStart=/usr/bin/mongod --quiet --config /etc/mongodb.conf

[Install]
WantedBy=multi-user.target
