.*
!.git*
!.pacman/*.conf
pkg/
pkgs/
src/
*.xz
*.sig
*.asc
*.bz2
*.gz
*.zip
*.log
*.gem
*.tgz
*.tar
*.tar.*
*.deb
*.rpm
*.jar
trunk/
*~
*.sw?
*.kate-swp
*.orig
*.run
*.old
old_ver.txt
new_ver.txt
linux.install.pkg
*.iso
*.fik
*.lic
.gitignore
