pkgbase = caffe-git
	pkgdesc = A fast framework for deep learning built in C++ for speed with a Python 2 interface
	pkgver = rc3.r184.gdf412ac
	pkgrel = 1
	url = https://github.com/BVLC/caffe
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = python2-setuptools
	makedepends = gcc-fortran
	makedepends = wget
	depends = cuda
	depends = opencv
	depends = openblas-lapack
	depends = google-glog
	depends = gflags
	depends = lmdb
	depends = cython2
	depends = ipython2
	depends = python2-pillow
	depends = python2-numpy
	depends = python2-yaml
	depends = python2-numpy
	depends = python2-scipy
	depends = python2-scikit-image
	depends = python2-scikit-learn
	depends = python2-matplotlib
	depends = python2-h5py
	depends = python2-leveldb
	depends = python2-networkx
	depends = python2-nose
	depends = python2-pandas
	depends = python2-dateutil
	depends = python2-protobuf
	depends = python2-gflags
	depends = python2-pandas
	depends = boost
	depends = boost-libs
	depends = bc
	provides = caffe
	provides = pycaffe
	provides = python2-pycaffe
	conflicts = caffe
	conflicts = pycaffe
	conflicts = python2-pycaffe
	conflicts = pycaffe-git
	conflicts = python2-pycaffe-git
	source = git+https://github.com/BVLC/caffe.git
	source = classify-print-results.py
	source = Makefile.config
	sha256sums = SKIP
	sha256sums = c12ddbd524c1b5871cb42a8775cf17a3ef86ae8a859837a6c6c4e2c19deca3d5
	sha256sums = 91ac4b31b72c9c6fb8b1242c945d8caf32f1876ef4befa3c81b7d19940b6a143

pkgname = caffe-git

