[Desktop Entry]
Type=Application
Name=OpenBoard
Comment=OpenBoard, an interactive white board application
Exec=openboard %f
Icon=OpenBoard.png
StartupNotify=true
Terminal=false
MimeType=application/ubz
Categories=Education;
