[Desktop Entry]
Name=RealSense™ Viewer
Comment=Intel® RealSense™ Viewer
Exec=realsense-viewer
Icon=realsense-viewer
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Science
