[Desktop Entry]
Name=Cider
StartupWMClass=Cider
Comment=Project Cider. A new look into listening and enjoying music in style and performance.
GenericName=Music Player
Exec=/usr/bin/cider %U
Icon=cider
Type=Application
Categories=Audio;Music;Player;AudioVideo;Network;
MimeType=x-scheme-handler/ame;x-scheme-handler/cider;x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/musics;x-scheme-handler/music;
