[Unit]
Description=Oracle Database Express Edition

[Service]
Environment=ORACLE_HOME=/opt/oracle/product/18c/dbhomeXE
Environment=ORACLE_SID=XE
User=oracle
Group=oinstall
LimitNOFILE=65536
LimitNPROC=16384
LimitSTACK=33554432
LimitMEMLOCK=134217728
Type=oneshot
ExecStartPre=/opt/oracle/product/18c/dbhomeXE/bin/lsnrctl start LISTENER
ExecStart=bash -c 'echo -e "connect / as sysdba\nstartup\nalter pluggable database all open\nexit;" | /opt/oracle/product/18c/dbhomeXE/bin/sqlplus -s /nolog'
ExecStop=bash -c 'echo -e "connect / as sysdba\nshutdown immediate\nexit;" | /opt/oracle/product/18c/dbhomeXE/bin/sqlplus -s /nolog'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
