[Unit]
Description=Haoop data node and node manager server

[Service]
Type=forking
User=hadoop
Group=hadoop
EnvironmentFile=/etc/conf.d/hadoop
ExecStart=/usr/bin/hdfs --daemon start datanode
ExecStartPost=/usr/bin/yarn --daemon start nodemanager
ExecStop=/usr/bin/yarn --daemon stop nodemanager
ExecStopPost=/usr/bin/hdfs --daemon stop datanode
Restart=on-abnormal
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
