[Unit]
Description=ShadowsocksR Client Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/sslocal -c /etc/shadowsocksr/%i.json

[Install]
WantedBy=multi-user.target