cephadm*

# Created by https://www.gitignore.io/api/archlinuxpackages
# Edit at https://www.gitignore.io/?templates=archlinuxpackages

### ArchLinuxPackages ###
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# End of https://www.gitignore.io/api/archlinuxpackages
