[Desktop Entry]
Name=saga-gis
Comment=System for Automated Geoscientific Analyses 
Exec=saga_gui
Icon=saga-gis.png
Terminal=0
Type=Application
Categories=Education;Science;Geoscience;Geography;