#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=ElmerGUI
#MimeType=
Comment=A finite element software for multiphysical problems
Icon=/usr/share/pixmaps/elmerfem.png
Terminal=false
Name=ElmerGUI
Categories=Science
