[Unit]
Description=SGE qmaster service
After=network.target

[Service]
Type=forking
ExecStart=/opt/sge/%i/common/sgeexecd start
ExecStop=/opt/sge/%i/common/sgeexecd stop

[Install]
WantedBy=multi-user.target
